* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(77, 91, 124);
}

p {
    font-size: 1rem;
}

nav {
    border-bottom: solid black .1rem;
    background: lightgray;
}

nav ol li {
    list-style: inside;
    display: inline-block;
    padding: 0.5rem 1rem;
}

body {
    max-width: 80rem;
    margin: auto;
    height: 100vh;
}

main {
    padding: 0rem 1rem;
}

.float-left {
    float: left;
    padding-right: 1rem;
    height: 100%;
}

h1 {
    color: darkblue;
    margin-bottom: 1rem;
}

.content p {
    margin-bottom: 1rem;
}

abbr:hover:after {
    content: " (" attr(title) ")";
}

footer {
    border-top: solid black .1rem;
    background: lightgray;
    padding: 1rem;
}

footer p {
    color: gray;
    font-style: italic;
}

#time-container {
    float: right;
}

#time-display {
    color: green;
}

main {
    display: flex;
    padding: 0rem;
}

#article-nav {
    background: rgb(204, 224, 230);
    flex: 1;
    width: 100px;
    padding: 1rem 1rem;
    border-right: solid black .1rem;
}

#article-nav li {
    list-style-type: none;
}

article {
    flex: 7;
    display: inline-block;
    padding: 1rem;
}